#####################################################################################
# Ignore this files
#####################################################################################

.Python
*.db
*.sqlite3
*.pyc
*~
.*

#####################################################################################
# Ignore this directories
#####################################################################################

staticfiles

#####################################################################################
# Accept this files
#####################################################################################

!.gitignore
