{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<meta content="charset=utf-8" />
<title>{% block title %}Eventx{% endblock %}</title>
{% block style %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
<link rel="icon" type="image/ico" href="{{ STATIC_URL }}img/favicon.ico"
{% block extrastylesheets %}{% endblock extrastylesheets %}
{% endblock style %}
<main>
  <div class="wrapper">

    <div class="content">

      <header>
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">

            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'core:home' %}">EventX</a>
            </div>

            <div class="collapse navbar-collapse">

              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'core:home' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'core:talk_list' %}">{% trans "Talk List" %}</a></li>
                <li><a href="{% url 'core:speakers' %}">{% trans "Speakers" %}</a></li>
              </ul>

              <ul class="nav navbar-nav pull-right">
                <li><a href="{% url 'subscriptions:subscribe' %}">{% trans "Registration" %}</a></li>
                <li>
                  <div class="language">
                    <form action="{% url 'set_language' %}" method="post">
                      {% csrf_token %}
                      <input name="next" type="hidden" value="{{ redirect_to }}" />
                      <select name="language" class="language-select">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                          {{ language.name_local }}
                        </option>
                        {% endfor %}
                      </select>
                    </form>
                  </div>
                </li>
              </ul>

            </div>

          </div>
        </nav>
      </header>

      <div class="main-content">
        {% block content %}
          <h1>{% trans "Block to be replaced" %}</h1>
          <p>{% trans "This message will be replaced and it should never be displayed to final users" %}</p>
        {% endblock content %}
      </div>

    </div>

    <footer>
      <div class="footer">
        <span class="trademark">&reg 2014. EventX, some rights reserved.</span>
        <span class="footer-links"><a href="{% url 'admin:index' %}">{% trans "Admin site" %}</a> | </span>
      </div>
    </footer>

  </div>

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script type="text/javascript">
  (function ($, window, document) {
    $('.language-select').on('change', function() {
      $(this).closest('form').trigger('submit');
    });
  }(window.jQuery, window, document));
</script>
{% block extrascripts %}{% endblock extrascripts %}
{% endblock scripts %}
</main>
